.main {
    background: var(--block);
    border-radius: 25px;
    height: calc(100vh - 70px);
    overflow: scroll;
    padding: 0;
}

.main::-webkit-scrollbar {
    display: none;
}


@media screen and (max-width: 768px) {
    .main {
        overflow: scroll;
        height: 100%;
        padding-bottom: 50px;
    }
}