.banner {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    top: -50px;
    position: relative;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    top: -120px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .banner {
        height: 150px;
    }
}