header {
    background-color: #353535;
    width: 50%;
    height: 50px;
    border-bottom-right-radius: 25px;
}

.header-link {
    font-size: 18px;
}

.active {
    color: var(--text);
}

@media screen and (max-width: 1200px) {
    header {
        width: 100%;
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;
        background-color: var(--block);
    }
}