.blog-button {
    text-transform: uppercase;
    background: aliceblue;
    color: black;
    padding: 7px 15px 7px 15px;
    border-radius: 35px;
    width: 100%;
    font-size: 20px;
    animation: pulse 2s infinite;
}
.container-blog-img {
    border-radius: 25px;
    padding: 10px;
    background: white;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 10px #a500d6;
    }
    50% {
        transform: scale(1.02);
        box-shadow: 0px 0px 15px #cd00ff;
    }
    100% {
        transform: scale(1);
        box-shadow: 0px 0px 10px #a500d6;
    }
}