@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --block: #262626;
    --text: #E494E1;
    --gray-text: #949494;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1F1F1F;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: aliceblue;
}

@media screen and (max-width: 768px) {
    body {
        overflow: scroll;
    }
}