.icon-stack {
    height: 90px;
    width: 90px;
    object-fit: cover;
}

.icon-stack:hover {
    border-radius: 1px;
    transform: scale(1.04);
    transition: transform 0.2s;
}

.container-title {
    width: 90px;
}

.title-stack {
    font-size: 17px;
    color: rgb(36, 36, 36);
}

.main-title-stack {
    font-size: 20px;
}

.container-stack {
    width: 100px;
    height: 110px;
}

.wrapper-all-techonologies {
    position: relative;
    top: -100px;
}

.container-cards {
    width: 350px;
}

.button-stack {
    width: 400px;
}

@media screen and (max-width: 768px) {
    .icon-stack {
        height: 95px;
        width: 95px;
    }

    .container-stack,
    .container-title {
        width: 100px;
    }

    .wrapper-all-techonologies {
        top: -85px;
    }
    .button-stack {
        width: 300px;
    }
}

/* .container-stack:hover {
    box-shadow: 0 0 35px rgb(39, 75, 255);
} */