.stack-description {
    color: var(--gray-text);
}
.item-stack {
    border-radius: 25px;
    object-fit: cover;
    height: 200px;
    margin: 50px 0 50px 0;
    width: 200px;
}
.item-stack:hover {
    filter: drop-shadow(0 0 4mm rgb(160, 0, 210));
    transition: filter 0.3s ease-in-out;
}
.dev-ops-info {
    color: #929292;
    font-size: 15px;
}
.time {
    color: var(--gray-text);
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 768px) {
    .item-stack {
        height: 190px;
        width: 190px;
    }
}